.DS_Store
*.egg-info
*.o
*.so
*.pyc
*.swp
*.swo
*.pyd
dist
_build
_site
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
.vscode
setuptools*
.ipynb_checkpoints
.cache
.tox
.eggs/
gulptmp_4_1
.coverage
.mypy_cache
.vs
env
venv
.conda
